NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SUPERUSER_EMAILS=
VOX_CONSUMER_AUTH_ENABLED=false
VOX_WEB_DATABASE_URL=
VOX_CONSUMER_AUTH_SECRET=
VOX_GOOGLE_CLIENT_ID=
VOX_GOOGLE_CLIENT_SECRET=
VOX_AUTH_OTP_PEPPER=
VOX_AUTH_SMTP_URL=
VOX_AUTH_EMAIL_FROM=
VOX_CORE_URL=
VOX_HOST_CREDENTIAL_ID=
VOX_HOST_AUDIENCE=
VOX_HOST_SECRET=
VOX_IDENTITY_ADAPTER_KEY=vox-web-primary
VOX_IDENTITY_ISSUER=http://localhost:3000
VOX_IDENTITY_AUDIENCE=
VOX_IDENTITY_SIGNING_PRIVATE_KEY=
VOX_CORE_ADMIN_URL=http://127.0.0.1:3001
VOX_ADMIN_TOKEN=
